@model ResComm.Web.Models.AdminUpdate
@{
    ViewBag.Title = "Admin Setting";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    @using (Html.BeginForm("Admin", "Setting", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.AccountInfo.CustomerId)
        @Html.HiddenFor(m => m.AccountInfo.AddressInfo.AddressId)
        @Html.HiddenFor(m => m.UserInfo.Email)

        <!-- left column -->
        <div class="col-md-6">
            <div class="box box-success">
                <div class="box-header">
                    <h3 class="box-title">Company Information</h3>
                </div><!-- /.box-header -->
                <div class="box-body">
                    <div class="form-group">
                        @Html.LabelFor(m => m.AccountInfo.CompanyName)
                        @Html.TextBoxFor(m => m.AccountInfo.CompanyName, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.AccountInfo.CompanyEmail)
                        @Html.TextBoxFor(m => m.AccountInfo.CompanyEmail, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.AccountInfo.OfficeNo)
                        @Html.TextBoxFor(m => m.AccountInfo.OfficeNo, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.AccountInfo.FaxNo)
                        @Html.TextBoxFor(m => m.AccountInfo.FaxNo, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.AccountInfo.AddressInfo.Address)
                        @Html.TextBoxFor(m => m.AccountInfo.AddressInfo.Address, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.AccountInfo.AddressInfo.City)
                        @Html.TextBoxFor(m => m.AccountInfo.AddressInfo.City, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.AccountInfo.AddressInfo.State)
                        @Html.TextBoxFor(m => m.AccountInfo.AddressInfo.State, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.AccountInfo.AddressInfo.ZIP)
                        @Html.TextBoxFor(m => m.AccountInfo.AddressInfo.ZIP, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.AccountInfo.AddressInfo.Country)
                        @Html.TextBoxFor(m => m.AccountInfo.AddressInfo.Country, new { @class = "form-control" })
                    </div>
                </div><!-- /.box-body -->
            </div><!-- /.box -->

        </div><!--/.col (left) -->

        <!-- right column -->
        <div class="col-md-6">
            <div class="box box-warning">
                <div class="box-header">
                    <h3 class="box-title">User Information</h3>
                </div><!-- /.box-header -->
                <div class="box-body">
                    <div class="form-group">
                        @Html.LabelFor(m => m.UserInfo.Email)
                        @Html.TextBoxFor(m => m.UserInfo.Email, new { @class = "form-control", @readonly = true })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.UserInfo.ContactName)
                        @Html.TextBoxFor(m => m.UserInfo.ContactName, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.UserInfo.ContactNo)
                        @Html.TextBoxFor(m => m.UserInfo.ContactNo, new { @class = "form-control" })
                    </div>
                </div><!-- /.box-body -->
            </div><!-- /.box -->


            <div class="box box-primary">
                <div class="box-header">
                    <h3 class="box-title">Update Password</h3>
                </div><!-- /.box-header -->
                <div class="box-body">
                    <div class="form-group">
                        @Html.LabelFor(m => m.UserInfo.Password)
                        @Html.PasswordFor(m => m.UserInfo.Password, new { @class = "form-control", @value = Model.UserInfo.Password })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.UserInfo.ConfirmPassword)
                        @Html.PasswordFor(m => m.UserInfo.ConfirmPassword, new { @class = "form-control", @value = Model.UserInfo.Password })
                    </div>
                </div><!-- /.box-body -->

                <div class="box-footer text-right">
                    <input type="submit" class="btn btn-primary" value="Submit" />
                </div>
            </div><!-- /.box -->
        </div><!--/.col (right) -->
    }
</div><!-- /.row -->