@model ResComm.Web.Models.Contact
@{
    ViewBag.Title = "Add Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Title { Add }
@section ContentHeader{
}

<div class="row">
    @using (Html.BeginForm("Add", "Contact", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div class="col-md-12">
            <div class="box box-danger">
                <div class="box-header">
                    <h3 class="box-title">Ticket Information</h3>
                </div><!-- /.box-header -->
                <div class="box-body">
                    <div class="form-group">
                        @Html.LabelFor(m => m.Name)
                        @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.PhoneNo)
                        @Html.TextBoxFor(m => m.PhoneNo, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Email)
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Rating)
                        @Html.TextBoxFor(m => m.Rating, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Remarks)
                        @Html.TextBoxFor(m => m.Remarks, new { @class = "form-control" })
                    </div>
                </div><!-- /.box-body -->

                <div class="box-footer text-right">
                    <input type="submit" class="btn btn-primary" value="Submit" />
                </div>
            </div><!-- /.box -->

        </div><!--/.col (left) -->
    }
</div><!-- /.row -->