@model ResComm.Web.Models.AdminSetup
@{
    ViewBag.Title = "Admin Setup";
    Layout = "~/Views/Shared/_Layout_Clean.cshtml";
}
<link href="@Url.Content("~/Content/progress-wizard-indicator/progress-wizard.min.css")" rel="stylesheet" type="text/css" />

<div>
    <ul class="progress-indicator">
        <li>
            <span class="bubble"></span>
            <span class="font14">ACCOUNT INFORMATION</span>
        </li>
        <li>
            <span class="bubble"></span>
            <span class="font14">PROPERTY INFORMATION</span>
        </li>
        <li>
            <span class="bubble"></span>
            <span class="font14">TERMS AND CONDITIONS</span>
        </li>
        <li>
            <span class="bubble"></span>
            <span class="font14">COMPLETED</span>
        </li>
    </ul>
</div>
<br/><br/>

<div>
    @using (Html.BeginForm("Setup", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        @Html.Hidden("isSave");

        <div class="progress-form">
            <div class="text-right">
                <span class="btn btn-sm btn-primary" onclick="progress_next();">Next <span class="glyphicon glyphicon-chevron-right"></span></span>
            </div>
            <br />
            <div class="row">
                @Html.Partial("_AccountSetup", Model)
            </div>
        </div>
        <div class="progress-form">
            <div class="text-right">
                <span class="btn btn-sm btn-primary" onclick="progress_back();"><span class="glyphicon glyphicon-chevron-left"></span> Back</span>
                <span class="btn btn-sm btn-primary" onclick="progress_next();">Next <span class="glyphicon glyphicon-chevron-right"></span></span>
            </div>
            <br />
            <div class="row">
                @Html.Partial("_PropertySetup", Model)
            </div>
        </div>
        <div class="progress-form">
            <div class="text-right">
                <span class="btn btn-sm btn-primary" onclick="progress_back();"><span class="glyphicon glyphicon-chevron-left"></span> Back</span>
                <span class="btn btn-sm btn-primary" onclick="progress_next();">Agree <span class="glyphicon glyphicon-chevron-right"></span></span>
            </div>
            <br />
            <div class="row">
                <div class="col-md-2">
                </div>
                <div class="col-md-8">
                    <div class="box box-warning">
                        <div class="box-header">
                            <h3 class="box-title">Term of Use Agreement</h3>
                        </div><!-- /.box-header -->
                        <div class="box-body">
                            <div>
                                <br />
                                <p class="text-bold">AGREEMENT AND TERMS OF USE</p>
                                The following terms and conditions of this terms of use agreement (hereinafter, “agreement”) apply to your access and use of this website and all related sub-sites (hereinafter, “site”) and the services provided herein (“services”) by business origin SDN BHD and Appstream SDN BHD (hereinafter, “resident portal”).
                                <br/>
                                In consideration of our permitting and/or providing the site, and by your accessing any page of the site and/or using the services provided therein, you agree to be bound by these terms and conditions without limitation or qualification.
                                <br />
                                This agreement, together with the other terms and conditions set out in the site, contains the complete and entire understanding and agreement between you and resident portal, and supersedes any previous communications, representations, or agreements, verbal or written, related to the subject matter of this agreement. This agreement may not be modified or amended orally, impliedly, or in any manner not set forth in writing or permitted by this agreement.
                                <br />
                                If you do not accept these terms and conditions or are not satisfied with the site and/or services, please immediately discontinue your access to the site and/or use of the services.
                                <br />  

                                <br />                                
                                <p class="text-bold">BETA PROGRAMME REGISTRATION & PACKAGES</p>
                                By signing up to the Resident Portal Beta Programme Package, you hereby confirm that you have obtained the necessary rights, permissions and authority to act on behalf of the organisation, association, body, enterprise or any other form of representation of the entity that you are registering on behalf of for “Registered User”.
                                <br />
                                A summary of the packages offered by Resident Portal (“Packages”) for the Beat Programme is as stipulated below:
                                <br />
                                <div class="text-center">
                                    <table border="1" style="margin: auto;">
                                        <tr>
                                            <td width="100"><b>Packages</b></td>
                                            <td width="100"><b>Duration</b></td>
                                            <td width="150"><b>Fees</b></td>
                                        </tr>
                                        <tr>
                                            <td>LIFETIME</td>
                                            <td>LIFETIME</td>
                                            <td>RM 5,000.00</td>
                                        </tr>
                                        <tr>
                                            <td>10 Years</td>
                                            <td>10 Years</td>
                                            <td>RM 2,500.00</td>
                                        </tr>
                                        <tr>
                                            <td>5 Years</td>
                                            <td>5 Years</td>
                                            <td>RM 1,500.00</td>
                                        </tr>
                                    </table>
                                </div>
                                <br/>
                                Resident Portal will charge the Registered User the corresponding Fees based on the Package chosen by the Registered User.
                                <br />
                                All Beta Programme packages includes the following features/modules in the software:
                                <br />
                                <div>
                                    <ul>
                                        <li>Announcements</li>
                                        <li>Facilities Reservation</li>
                                        <li>Complaints & Defects Management</li>
                                        <li>Online Bill Payment</li>
                                        <li>Your Own Property Website </li>
                                    </ul>
                                </div>
                                Your Own Property Website is provided using the format and template provided by Resident Portal whereby you are only allowed to add in your own logo and property name. No further customization will be allowed.
                                <br />
                                Resident Portal reserves the right to add additional modules to the existing packages at its sole discretion. All features/modules are provided “as is” with no customisation, request for alterations or change request from the Registered Users allowed.
                                <br />
                                The duration indicates the license validity of the packages provided to the Registered User from the Resident Portal Beta system launch date. The Registered User will receive notice of the launch date through email prior to the launch date. If and when a license expires, the Registered User will be provided the option to renew the license at prevailing current package rates at the point of renewal.
                                <br />

                                <br />
                                <p class="text-bold">ONLINE BILL PAYMENT, PROCESSING FEES & PAYMENT TO REGISTERED USER</p>
                                Resident Portal will provide a facility for residents and owners to pay outstanding bills to the Registered User through the Site.
                                <br />
                                Resident Portal will charge administrative and online banking or credit card processing fees of five percent (5%) (“Processing Fees”) of the amount collected for all bill payments made through Resident Portal.
                                <br />
                                Resident Portal will reimburse the amount collected for the online bill payments through the Site after deduction of the Processing Fees to the Registered User on a fortnightly basis, based on the following schedule:
                                <br />
                                <div class="text-center">
                                    <table border="1" style="margin: auto;">
                                        <tr>
                                            <td width="150"><b>Collection Period</b></td>
                                            <td width="250"><b>Payment Back to Registered User By</b></td>
                                        </tr>
                                        <tr>
                                            <td>1st to 14th of the month</td>
                                            <td>21st of current month</td>
                                        </tr>
                                        <tr>
                                            <td>15th to end of the month</td>
                                            <td>7th of subsequent month</td>
                                        </tr>
                                    </table>
                                </div>
                                <br/>
                                Delivery of the payment to the Registered User may be made by way of the following:
                                <br />
                                <div>
                                    <ol type="A">
                                        <li>by Internet banking or online transfer, in the event the Registered User is located in a country where Resident Portal has a local presence; or</li>
                                        <li>by cheque or telegraphic transfer for all other circumstances, whereby the telegraphic transfer fees will be charged to the Registered User.</li>
                                    </ol>
                                </div>
                                <br />
                                                                
                                <br />
                                <p class="text-bold">LIMITATION, LIABILITY AND WARRANTIES ON CUSTOMER CONTENT</p>
                                It shall be your sole responsibility to verify the accuracy, correctness, up-to-dateness, reliability, completeness, and authenticity of all information, documents, and/or statements provided (“Customer Content”) to Resident Portal, whether through the Site or directly/indirectly through Resident Portal or any third parties. Resident Portal disclaims all warranties, representation or guarantees, whether expressed or implied in relation to the Customer Content.
                                <br />
                                Without derogating from the aforementioned provisions of this Agreement, Resident Portal (and any of its affiliates (including its parent company, subsidiaries and associated companies), directors, officers, employees, agents or assigns, third party content providers, or licensors, and their respective directors, officers, employees, agents or assigns), shall not be liable for:
                                <br />
                                <div>
                                    <ol type="A">
                                        <li>any damage or loss arising from Customer Content which is false, inaccurate, misleading, or    fraudulent;</li>
                                        <li>any damage or loss arising from Customer Content or any other material or information provided by any third party in any form (including computer viruses or computer programming routines contained within electronic files downloaded from the Site and/or any third parties); or</li>
                                        <li>any other direct, indirect, punitive, incidental, special or consequential damages or losses of any kind arising in relation to the Customer Content.</li>
                                    </ol>
                                </div>
                                <br />
                                                               
                                <br />
                                <p class="text-bold">DISCLAIMER OF WARRANTIES & LIMITATION OF LIABILITY</p>
                                You agree that use of the site is at your risk. Neither resident portal nor any of its affiliates (including its parent company, subsidiaries and associated companies), directors, officers, employees, agents or assigns, third party content providers or licensors and their respective directors, officers, employees, agents or assigns warrants or guarantees that the site and services will be continuous, uninterrupted, secure or error-free, and operations of the site may be interfered or interrupted by factors beyond the control of resident portal, nor do they make any warranty as to the results that may be obtained from the use of the site and services, or as to the accuracy, correctness, up-to-dateness, reliability, completeness, or authenticity of any information, material, postings, or posting responses found on the site (including but not limited to the content and the user content), any merchandise or services provided through the site, or any links to other sites made available on the site.
                                <br />
                                The site and all information, material, postings, or posting responses found on the site (including but not limited to the content and the user content) are provided on an “as is” basis without, warranties of any kind, either express or implied, including but not limited to warranties of title implied warranties of merchantability, warranties of skill, warranties of care, warranties of timeliness of performance, and warranties of fitness for a particular purpose, or otherwise.
                                <br />
                                Under no circumstances, including but not limited to negligence, shall resident portal and any of its affiliates (including its parent company, subsidiaries and associated companies), directors, officers, employees, agents or assigns, third party content providers, or licensors, and their respective directors, officers, employees, agents or assigns, be liable for:
                                <br />
                                <ol type="A">
                                    <li>Any direct, indirect, punitive, incidental, special or consequential damages (including but not limited to actions for breach of contract, tort or negligence, defamation, infringement of intellectual property rights including but not limited to copyright, trademark, patent, registered industrial design and passing off, breach of confidence, or losses including economic losses (including but not limited to loss of revenues, profits, contracts, business or anticipated savings);</li>
                                    <li>Any loss of goodwill or reputation; or</li>
                                    <li>Any common law liability</li>
                                </ol>
                                <br/>
                                Resulting from the use of, or the inability to use, any information, material, postings, or posting responses on the site (including the content and the customer content), the site itself or the services.
                                <br />
                                Further, resident portal is not liable for acts or omissions of third party telecommunications service providers or internet service providers or for faults and/or failures in the network or equipment of such third party providers.
                                <br />
                                These limitations apply regardless of whether the party liable or allegedly liable was advised, had other reason to know or in fact knew of the possibility of such damages. You acknowledge and agree that resident portal and any of its affiliates (including its parent company, subsidiaries and associated companies), directors, officers, employees, agents or assigns, third party content providers, or licensors, and their respective directors, officers, employees, agents or assigns are not liable for any defamatory, offensive or illegal conduct of any user, including yourself.
                                <br />
                                Links from or to websites beyond the site (hereinafter, “third party sites”) are meant for your convenience only. Unless otherwise stated, such third party sites are owned and operated by third parties and as such are not under the control of resident portal, and resident portal shall not be responsible in any way whatsoever and makes no warranties in respect of the contents of the third party sites, the third parties named therein or their products and services.
                                <br />
                                The linking on the site to the third party sites, and/or the linking by third party sites to the site shall not be considered an endorsement or verification or approval of such third party sites or the contents therein. Your act of linking to a third party site in creating the user content, or entering a third party site through a link on the site, is done at your risk. Resident portal shall not be responsible or liable for any damages or losses in connection with such linking or actions. It is advisable for you to read the privacy policy statements (if any) of such third party sites linked by the site.
                                <br />
                                
                                <br />
                                <p class="text-bold">INDEMNITY</p>
                                You hereby irrevocably agree and undertake to indemnify, hold harmless, defend and keep indemnified Resident Portal and its affiliates (including its parent company, subsidiaries and associated companies), directors, officers, employees, agents or assigns, third party content providers, or licensors, and their respective directors, officers, employees, agents or assigns and servants, from all liabilities, actions, claims, demands, proceedings, losses and expenses, including any legal fees that may be incurred by Resident Portal in connection with or arising from (a) your use or misuse of the Site and the Services, or (b) your breach of these terms and conditions howsoever occasioned, or (c) any claim made by a third party against Resident Portal in connection with your violation of any law or infringement of the rights of a third party, including but not limited to intellectual property rights or proprietary rights.
                                <br/>

                                <br/>
                                <p class="text-bold">RIGHTS IN CONTENT AND THE SITE</p>
                                All Contents provided by Resident Portal on the Site or related to the Site are protected by copyright, trademark, and other applicable intellectual property and proprietary rights laws and are owned, controlled, and/or licensed by Resident Portal.
                                <br/>
                                <br />
                                <u>Copyright</u>
                                <br/>
                                Subject to the terms of this Agreement, you are strictly prohibited from undertaking any of the following without the express written consent of Resident Portal:
                                <br/>
                                <ol type="A">
                                    <li>modifying, copying, distributing, transmitting, displaying, performing, publishing, licensing, transferring, posting, creating derivative works from, framing and using on any Content to any website, including this Site, or in any way commercially exploiting any of the Content, in whole or in part; or</li>
                                    <li>constructing a database in any form (including but not limited to software, user list, database or other lists, compilations, products or services), by way of compiling information obtained from Resident Portal or from the Site, either for your own use or for transferring and/or selling to a third party.</li>
                                </ol>
                                <br/>
                                You are authorised to access, view, store, download, or reproduce the Content and other copyrighted content solely for your personal use and information only, and shall make no other use (such as commercial use) of the Content without the express written consent of Resident Portal and the copyright owner, if applicable. You will not make any changes to any Content that you are permitted to view and/or download under this Agreement, and in particular you will not delete or alter any proprietary rights or attribution notices in any Content. Any content you view/download from the Site cannot be reproduced elsewhere.
                                <br />
                                You agree that in using the Site and the Services, and/or viewing, storing, downloading or reproducing the Content, or other copyrighted content, you do not acquire any ownership rights (whether intellectual property rights or proprietary rights) in the Site, the Services, the Content, or any other downloaded content from the Site.
                                <br />
                                <br />
                                <u>Trademark</u>
                                <br />
                                Names, marks and logos of all other products, services and companies mentioned on the Site may be the trademarks of their respective owner(s).
                                <br />

                                <br />
                                <p class="text-bold">GUARANTEE</p>
                                The Registered User is provided with a 30-Day Money-Back Guarantee from the date of sign-up (“Guarantee Period”). At any point of time within this 30-Days period, if the user is not satisfied with the Site, the user may opt to cancel their account and a receive a full refund. This refund will be processed and provided to the Registered User within 60 business days of the cancellation date. “60 business days” shall exclude calendar days during which businesses are closed due to religious, bank or national holidays. The full refund shall include only a refund of the amount of money received, and shall not include any additional amounts, such as any additional amount resulting from interest rates.
                                <br/>

                                <br />
                                <p class="text-bold">CANCELLATION</p>
                                The Registered User may opt to cancel their account at any point of time by requesting for a cancellation from within the Site or by making a formal request to Resident Portal.
                                <br />
                                With the exception cancellation during the Guarantee Period as specified in the “Guarantee Section”, no refunds will be provided for any cancellations at any other point of time. The cancelled account will be disabled immediately upon cancellation. Any prepaid duration or balance credits of any form that runs after the cancellation date will be forfeited. No refund will be provided for any unused months or unused credits.
                                <br />
                                The Registered User understands that once an account has been cancelled, it is cancelled permanently and cannot be reinstated.
                                <br />

                                <br />
                                <p class="text-bold">TERMINATION AND SUSPENSION</p>
                                Resident Portal reserves the right to terminate and/or suspend your access to and/or your use of the Site and the Services, in whole or in part, at any time, for any reason at its discretion without warning or notice. Resident Portal may terminate and/or suspend your access to the Site and the Services, should the Registered User violate any of the terms and conditions of this Agreement; violate the law; or infringe the rights of Resident Portal, any other user of the Site, or any third party.
                                <br />
                                Notwithstanding the foregoing, the Agreement may be terminated with immediate effect at any time:
                                <br />
                                <ol type="A">
                                    <li>
                                        by Resident Portal under the following circumstances:
                                        <ol type="a">
                                            <li>the Registered User breaches any term, condition, undertaking, representation or warranty, or any of its obligations under this Agreement and any agreement supplemental to this Agreement (“Supplementary Agreement”) and the Registered User fails to remedy such breach, if the breach is capable of remedy, within thirty (30) days after the date of a written request to remedy the same or desist from such breach is given to it;</li>
                                            <li>the Registered User commits a breach of any term, condition, undertaking, representation or warranty, or any of its obligations under this Agreement and any Supplementary Agreement which is incapable of remedy; or</li>
                                            <li>the Registered User becomes or threatens or resolves to become insolvent or is deemed to be unable to pay its debts or calls a meeting for the purpose of passing a resolution to wind it up; or the Registered User compounds with or makes arrangements with its creditors or goes into liquidation whether voluntarily (save for the purpose of a bona fide amalgamation, merger, consolidation or reconstruction without insolvency) or compulsorily; or the Registered User has a liquidator trustee, receiver or manager or receiver and/or manager appointed in respect of its business or undertaking or possession of its property or assets is taken by or behalf of its creditors or debentures holders secured by a floating charge; or the Registered User ceases or threatens to cease to conduct its business in the usual or normal manner; or the Registered User has an order made or a resolution passed for its winding up, otherwise than for the purposes of a reconstruction, merger, consolidation or amalgamation; or</li>
                                        </ol>
                                    </li>
                                    <li>(B)	by the Registered User in the event Resident Portal becomes or threatens or resolves to become insolvent or is deemed to be unable to pay its debts or calls a meeting for the purpose of passing a resolution to wind it up; or Resident Portal compounds with or makes arrangements with its creditors or goes into liquidation whether voluntarily (save for the purpose of a bona fide amalgamation, merger, consolidation or reconstruction without insolvency) or compulsorily; or Resident Portal has a liquidator trustee, receiver or manager or receiver and/or manager appointed in respect of its business or undertaking or possession of its property or assets is taken by or behalf of its creditors or debentures holders secured by a floating charge; or Resident Portal ceases or threatens to cease to conduct its business in the usual or normal manner; or Resident Portal has an order made or a resolution passed for its winding up, otherwise than for the purposes of a reconstruction, merger, consolidation or amalgamation.</li>
                                </ol>
                                <br/>
                                On termination of this Agreement for any reason whatsoever, all fees for use of the Services set out in this Agreement and all Supplementary Agreements up to and including on the date of termination, and all other amounts owed to Resident Portal shall become immediately due and payable, subject to Resident Portal delivering to the Registered User an invoice detailing the amounts payable.
                                <br />
                                The termination of this Agreement pursuant to the above provisions shall be without prejudice to the accrued rights and liabilities of the parties hereto under this Agreement, subsisting as at the date of such termination provided that no party shall have any liability to the other party for any consequential loss arising out of or in connection with their respective obligations under this Agreement.
                                <br />

                                <br />
                                <p class="text-bold">MISCELLANEOUS</p>
                                The failure of Resident Portal to exercise or enforce any right or provision of the terms and conditions of this Agreement, including acting with respect to a breach of the Agreement by yourself or any other user of the Site, shall not constitute a waiver of its right or any provision of this Agreement.
                                <br />
                                If any part of these terms and conditions is determined to be invalid or unenforceable pursuant to applicable law, and if the invalid and unenforceable provision cannot be superseded by a valid, enforceable provision that most closely matches the intent of the original provision, then that provision and that provision alone shall be severed and the remainder of the other provisions of the terms and conditions shall continue in full force and effect.
                                <br />
                                You agree that this Agreement may be automatically assigned by Resident Portal to a third party in the event of a merger, acquisition or internal reorganisation within the group,
                                <br />
                                There is no agency, partnership, joint venture, employee-employer or franchisor-franchisee relationship intended to be created by this Agreement between Resident Portal and yourself.
                                <br />
                                Any right not expressly granted herein is reserved.
                                <br />

                                <br />
                                <p class="text-bold">LAW AND JURISDICTION</p>
                                The terms and conditions of this Agreement are governed by and are to be construed in accordance with the laws of Malaysia. By accessing the Site and/or using the Services, you hereby consent to the exclusive jurisdiction of the Malaysian courts.
                                <br />
                                Resident Portal makes no representation that material, postings, or posting responses found on the Site (including but not limited to the Content, Customer Content and Services) are appropriate or available for use in jurisdictions other than Malaysia.
                                <br />
                                This Agreement, together with the other terms and conditions set out in the Site, was originally written in English. To the extent any translated version conflicts with the English version, the English version controls.
                                <br />

                                <br />
                                <p class="text-bold">CHANGES TO THE TERMS AND CONDITIONS OF THE AGREEMENT</p>
                                Resident Portal reserves the right to change the information, material, functions, content of this Agreement and the Supplementary Agreements at all. Resident Portal will endeavour to provide thirty (30) Business Days’ prior written notice to the Registered User of any changes to the Agreement. Unless you have any valid reason for objecting to such changes and has provided written notification of such objection within thirty (30) days of the date of the notice of change from Resident Portal, all changes shall be deemed effective after the expiry of such thirty (30) days period regardless of whether the Registered User has provided written response, and the Registered User is deemed to have consented to and accepted such changes.
                                <br/>

                            </div>
                        </div><!-- /.box-body -->
                    </div><!-- /.box -->

                </div>
                <div class="col-md-2">
                </div>
            </div>
        </div>
        <div class="progress-form">
            <div class="col-md-12 text-right">
                <span class="btn btn-sm btn-primary" onclick="progress_back();"><span class="glyphicon glyphicon-chevron-left"></span> Back</span>
            </div>
            <br />
            <div class="row">
                <div class="col-md-2">
                </div>
                <div class="col-md-8">
                    <div class="box box-primary">
                        <div class="box-header">
                        </div><!-- /.box-header -->
                        <div class="box-body">
                            <div class="text-center">
                                <h3>Thank you for filling out your information!</h3>
                                <div>Your information will be stored after you click the button below.</div>
                                <br/><br/>
                                <div>
                                    <input type="submit" class="btn btn-default" value="Save" onclick="$('#isSave').val('true');" />
                                    <input type="submit" class="btn btn-primary" value="Submit" />
                                </div>
                                <br/>
                            </div>
                        </div><!-- /.box-body -->
                    </div><!-- /.box -->

                </div>
                <div class="col-md-2">
                </div>
            </div>
        </div>
    }
</div><!-- /.row -->

<script type="text/javascript">
    var currentIdx = 0;

    $(function () {
        $('ul.progress-indicator > li:first').addClass("active");
        $('.progress-form:first').show();
    });

    $("form").submit(function (event) {
        if (currentIdx != $('.progress-form').index($('.progress-form:last'))) {
            return false;
        }
    });

    function progress_next() {
        $("form").submit();

        if ($("form").valid() == true) {
            $('.progress-form:eq(' + currentIdx + ')').hide("drop", { direction: "left", duration: 400 });
            $('.progress-form:eq(' + (currentIdx+1) + ')').show("drop", { direction: "right", duration: 600 });

            $('ul.progress-indicator > li').removeClass("active").removeClass("completed");
            $('ul.progress-indicator > li:lt(' + (currentIdx + 1) + ')').addClass("completed");
            $('ul.progress-indicator > li:eq(' + (currentIdx + 1) + ')').addClass("active");

            currentIdx++;
        }
    }

    function progress_back() {
        $('.progress-form:eq(' + (currentIdx-1) + ')').show("drop", { direction: "left", duration: 600 });
        $('.progress-form:eq(' + currentIdx + ')').hide("drop", { direction: "right", duration: 400 });

        $('ul.progress-indicator > li').removeClass("active").removeClass("completed");
        $('ul.progress-indicator > li:lt(' + (currentIdx - 1) + ')').addClass("completed");
        $('ul.progress-indicator > li:eq(' + (currentIdx - 1) + ')').addClass("active");

        currentIdx--;
    }
</script>